{% extends "layout.html" %}

{% block content %}

    <h1 class="my-3">About Wonkydoodles</h1>
    
    <p>This is a clone of Google Creative's <a href="https://quickdraw.withgoogle.com/">"Quick, Draw!"</a>. The purpose of this website is to showcase my abilities. This project can be divided into two parts - the training of the neural net and the website itself.</p>

    <p><a href="mailto:doodleswonky@gmail.com">Contact me</a> if you have any questions, other inquiries or even want to hire me!</p>

    <h3 class="my-3">The Neural Net</h3>
    <p>As opposed to the original "Quick, Draw!", which is a Recurrent Neural Net, the network used here is a Convolutional Neural Net. Their accuracies are similar at about 70% for their most probable guess. <a href="https://github.com/adidaskrasovki/Wonky-Doodles">Take a look at the github repo!</a></p>
    
    <h3 class="my-3">This Website</h3>
    <p>There is nothing much to say about the website, since you have probably seen it for yourself if you are reading this. It is a Python-Flask-Server deployed on Microsoft Azure. <a href=https://github.com/adidaskrasovki/WonkyDoodles>Take a look at the github repo!</a></p>

{% endblock content %}