{% extends "layout.html" %}

{% block content %}
    <h1 class="my-3">About Wonkydoodles</h1>
    
    <p>This is a clone of "Quick, Draw!", which can be found here: LINK. The purpose of this website is to showcase my abilities. This project can be divied into two parts - the training of the neural net and the website itself.</p>

    <h3 class="my-3">The Neural Net</h3>
    <p>As opposed to the original "Quick, Draw!", which is a RNN, the network used in this project is a Convolutional Neural Net. Their accuracies are similar at about 70% for their most probable guess. The github link for training the Wonkydoodles CNN can be found here: LINK.</p>

    <h3 class="my-3">This Website</h3>
    <p>There is nothing much to say about the website, since you have probably seen it for yourself if you are reading this. The github repo for the website can be found here: LINK</p>
{% endblock content %}