{% extends "layout.html" %}

{% block content %}
    <h1 class="my-3 text-center">Download the Wonkydoodles Dataset!</h1>
    
    <btn id="btn_download" onclick="click_left_btn()" class="btn bg-danger">Download</btn>

    <p>The Database is available under ???-License, which in plain english means that you can use this for any, even commercial, purpose. Just shout me out when you do use it. More Detail here: LINK</p>

    <p>The Dataset is saved as a SQLite-Database with the following structure:</p>

{% endblock content %}